<h1>Rooms#index</h1>
<div class="room-show-table">

    <table border="1" class="admin-table" >
    <thead>
        <tr>
            <th>投稿者</th>
            <th>開催日時</th>
            <th>開催場所</th>
            <th>タイトル</th>
            <th>詳細</th>
            <th></th>
        </tr>
    </thead>
        <% @rooms.each do |room| %>
    <tbody>
        <tr>
            <td><%= room.user.name %></td>
                <% if room.start_date.present? %>
            <td><%= room.start_date.strftime("%Y-%m-%d %H:%M") %></td>
                <% end %>
            <td><%= room.address %></td>
            <td><%= room.title %></td>
            <td><%= room.details %></td>
            <td><%= link_to "削除", rooms_path(@rooms), method: :delete %></td>
        </tr>
    </tbody>
        <% end %>
    </table>
</div>


