
<!-- %= をつけないときはeachとかの見た目に出さないやつ -->
<div class="row room-index-scroll">
        <% @rooms.each do |room| %>
                <!-- %= をつけるときは見た目に出すとき >-->
                <%= link_to room_path(room), class:'index-box index-list' do %>
                        --開催日時--<br>
                        <!--roomの日時が存在するときだけ表示する-->
                        <% if room.start_date.present? %>
                        <%= room.start_date.strftime('%Y/%m/%d %H:%M') %><br><br>
                        <% end %>
                        --開催場所--<br>
                        <%= room.address %><br><br>
                        --開催場所--<br>
                        <%= room.station %><br><br>
                        --タイトル--<br>
                        <%= room.title %>
                        <div class="mask caption">
                                <%= room.details %>
                        </div>
                <% end %>
        <% end %>
</div>

