<%= @room.title %>
<p>このルームはパスワードの入力が必要です。</p>
<%= form_for(:room, url: authenticate_room_path) do |f| %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.submit %>
<% end %>