<div class="room-contanir ">
<div class="room-new-box ">
<h1>New 新規投稿</h1><br>
<%= form_for(@room) do |f| %>
        <div class="field">
        <%= f.label :'タイトル' %><br>
        <%= f.text_field :title %>
        </div>
        <div class="field">
        <%= f.label :'開催日時' %><br>
        <%= f.datetime_field :start_date%>
        </div>
        <div class="field">
        <%= f.label :'場所　or 住所' %><br>
        <%= f.text_field :address %>
        </div>
        <div class="field">
        <%= f.label :'最寄り駅' %><br>
        <%= f.text_field :station %>
        </div>
        <div class="field">
        <%= f.label :'詳細' %><br>
        <%= f.text_area :details %>
        </div>
        <div class="action">
        <%= f.submit '登録' %>
        </div>
<%end%>
</div>
</div>
