<h1>Rooms#new</h1>
レイアウトの編集
<p>画像</p>
<%= form_for(@room) do |f| %>
        <%= f.attachment_field :image, placeholder: "画像" %>
        <p>タイトル</p>
        <%= f.text_field :title %>
        <p>開始日時</p>
        <%= f.datetime_field :start_date %>
        <p>場所</p>
        <%= f.text_field :address %>
        <p>詳細</p>
        <%= f.text_area :details %>
        <div class="action">
        <%= f.submit 'creat' %>
        </div>
<%end%>
