<div class="row">
    <div class="col-lg-5">
        <table border="1">
            <tr>
                <th>ニックネーム</th><td><%= @room.user.name %></td>
            </tr>
            <tr>
                <th>開催日時</th><td><%= @room.start_date %></td>
            </tr>
            <tr>
                <th>開催場所</th><td><%= @room.address %></td>
            </tr>
        </table>
    </div>




            <div class="col-lg-7 chat-room">
                <span><h1>Chat room</h1></span>
                <div class="row">
                    <div id="messages" class="room-show-scroll" data-room_id="<%= @room.id %>">
                        <!--xにroomがcreateされた日を代入する-->
                        <% x = @room.created_at.strftime("%Y-%m-%d") %>
                        <!--roomが作成日をchatの一番上に表示する-->
                        <p><%= x %></p><br>
                        <% @messages.each do |message| %>
                        <% if current_user.id == message.user.id %>
                       
                        <%= render 'end_user/messages/message', {message: message, layout: "current-lyaout"} %>
                        かれんと
                       
                        <% else %>
                        
                        <%= render 'end_user/messages/message', {message: message, layout: "user-lyaout"} %>
                        ユーザー
                        
                        <% end%>
                            <!--messageがcreateされた日とxの日と一緒だったら日付は表示しない-->
                            <% if x == message.created_at.strftime("%Y-%m-%d") %>
                            <% else %>
                            <!-- 違うときは日付を表示する -->
                            <%= message.created_at.strftime("%Y-%m-%d") %>
                            <% end %>
                            <!--投稿されたmessageの日付をxに代入しておく-->
                            <% x = message.created_at.strftime("%Y-%m-%d") %>
                        <% end %>
                    </div>
                </div>
            </div>
                <!--送信ボタンのボックス-->
                <div class="row form">
                    <form class="form-inline">
                        <div class="form-group">
                            <input type="text" name="content" class="form-control" id="chat-content" />
                            <input type="text" style="display:none" />
                            <!-- type="hidden"で隠せる。 -->
                            <!-- nameで値をラベル付けできる。 -->
                            <!-- valueに実際の値をいれる -->
                            <input type="hidden" name="userid" value=<%= current_user.id %> class="form-control" id="chat-user-id" />
                            <!-- roomidのはなし-->
                            <input type="hidden" name="roomid" value=<%= @room.id %> class="form-control" id="chat-room-id" />
                        </div>
                        <input type="button" id="button" class="btn-primary" value="送信">
                    </form>
        </div>
</div>

