<div class="row">
    <div class="col-lg-5">
        <span>
            <h1>Content</h1>
        </span>

        <table border="1" width="50%" align="center" class="room-show-table">
            <tr>
                <th>作成者</th>
                <td><%= @room.user.name %></td>
            </tr>
            <tr>
                <% if @room.start_date.present? %>
                <th>開催日時</th>
                <td><%= @room.start_date.strftime('%Y/%m/%d %H:%M') %></td>
                <% end %>
            </tr>
            <tr>
                <th>開催場所</th>
                <td><%= @room.address %></td>
            </tr>
            <tr>
                <th>タイトル</th>
                <td><%= @room.title %></td>
            </tr>
            <tr>
                <th>詳細</th>
                <td ~~~ style="word-wrap:break-word;"><%= @room.details %></td>
            </tr>
        </table>
    </div>



    <div class="col-lg-7 chat-room">
        <span>
            <h1>Chat room</h1>
        </span>
        <div class="row">
            <div id="messages" class="room-show-scroll" data-room_id="<%= @room.id %>">
                <!--xにroomがcreateされた日を代入する-->
                <% x = @room.created_at.strftime("%Y-%m-%d") %>
                <!--roomが作成日をchatの一番上に表示する-->
                <p id="current_user_id"><%= current_user.id %></p><br>
                <div class="at"><%= x %></div>
                <% @messages.each do |message| %>
                <%# if current_user.id == message.user.id %>
                <div class="current-lyaout">
                    <%= render 'end_user/messages/message', {message: message ,layout: "current-lyaout"} %>
                </div>
                <!--messageがcreateされた日とxの日と一緒だったら日付は表示しない-->
                <% if x == message.created_at.strftime("%Y-%m-%d") %>
                <% else %>
                <!-- 違うときは日付を表示する -->
                <div class="at"><%= message.created_at.strftime("%Y-%m-%d") %></div>
                <% end %>
                <!--投稿されたmessageの日付をxに代入しておく-->
                <% x = message.created_at.strftime("%Y-%m-%d") %>
                <% end %>
            </div>
        </div>
    </div>
    <div class="col-lg-7 offset-lg-5">
        <div class="row">
            <div class="form-group">
                <form class="form-inline">
                    <input type="text" name="content" class="form-control" id="chat-content" />
                    <input type="text" style="display:none" />
                    <!-- type="hidden"で隠せる。 -->
                    <!-- nameで値をラベル付けできる。 -->
                    <!-- valueに実際の値をいれる -->
                    <input type="hidden" name="userid" value=<%= current_user.id %> class="form-control"
                        id="chat-user-id" />
                    <!-- roomidのはなし-->
                    <input type="hidden" name="roomid" value=<%= @room.id %> class="form-control" id="chat-room-id" />
                    <input type="button" id="button" class="btn-primary" value="送信">
                </form>
            </div>
        </div>
    </div>
    <!--送信ボタンのボックス-->

</div>