<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/150fad54ca.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row content">
      <div class="col-lg-2 side sidenav hidden-xs">
        <div class="logo-icon">
          <h1><%= link_to "admin", admin_root_path, class:"icon" %></h1>
        </div>

          <div id="nav-list">
            <ul>
          <% if admin_user_signed_in? %><!--ログイン状態のときに表示される-->
            <li class="header-icon">
                <%= link_to admin_rooms_path , class:"item" do %>
                <i class="fas fa-th-large fa-fx-3">
                List</i>
              <%end%>
            </li>
            <li class="header-icon">
                <%= link_to destroy_admin_user_session_path, class:"item" ,method: :delete do %>
                <i class="fas fa-sign-out-alt fa-fx-3">
                log out</i>
              <%end%>
            </li>

          <% else %><!--ログアウト状態のとき-->
            <li class="header-icon">
                <%= link_to new_admin_user_registration_path, class:"item"  do %>
                <i class="fas fa-user-plus fa-fx-3">
                sign up</i>
              <%end%>
            </li>
            <li class="header-icon">
                <%= link_to new_admin_user_session_path, class:"item"  do %>
                <i class="fas fa-sign-in-alt fa-fx-3">
                log in</i>
              <%end%>
            </li>
          <% end %>
        </div>
      </div>
    <div class="col-lg-10 got-admin">
      <%= yield %>
    </div>
</div>
</div>

  </body>
  </html>

