<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/150fad54ca.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="inner">
        <h1 class="logo-icon">
          logo_enduser
        </h1>
        <% if user_signed_in? %><!--ログイン状態のときに表示される-->
          <p>ログイン状態</p>
          <nav class="nav">
            <ul class="flexbox">
              <%= link_to new_room_path do %>
                <p class="header-icon">新規投稿<span class="fas fa-folder-plus fa-fx-3"></span></p>
              <%end%>
              <%= link_to rooms_path do %>
                <p class="header-icon">投稿一覧<span class="fas fa-th-large fa-fx-3"></span></p>
              <%end%>
              <%= link_to destroy_user_session_path,  method: :delete do %>
                <p class="header-icon">ログアウト<span class="fas fa-sign-out-alt fa-fx-3"></span></p>
              <%end%>
        <% else %>
            <!--ログアウト状態のときに表示される-->
              <p>ログアウト</p>
              <%= link_to new_user_registration_path do %>
                <p class="header-icon">user登録<span class="fas fa-user-plus fa-fx-3"></span></p>
              <%end%>
              <%= link_to new_user_session_path do %>
                <p class="header-icon">ログイン<span class="fas fa-sign-in-alt fa-fx-3"></span></p>
              <%end%>

            <% end %>
          </ul>
        </nav>

  </div>
  </header>
  <%= yield %>

  </body>
  </html>

